<!-- Book detail popup -->
<div class="js-book-popup-panel book-popup-panel" data-popup-id="<%= popup_id %>"  class="container-fluid book-detail">

  <div class="col-sm-4 book-image-container">
    <img src="<%= book["img_url"]%>" class="book-detail-pic">
    <div class="book-hover-overlay">
      <div class="book-hover-options-container">
        <a href=''><h3 class="book-hover-options">Look Inside</h3></a>
        <a href=''><h3 class="book-hover-options">See Back</h3></a>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
        <h2 class='book-title'><%= book["title"] %></h2>
        <h4><%= book["author"] %></h4>
        <h4>$<%= book["price"] %></h4>
      </div>

      <div class="col-sm-4 cart-shelf">
        <a href=''><div class='cart-button'>
          <h5 class='cart-button-text'><i class="fa fa-shopping-cart fa-lg"></i> Add to Cart</h5>
        </div></a>
        <a href=''><div class='shelf-button'>
          <h5 class='cart-button-text'><i class="fa fa-list fa-lg"></i> Add to My Shelf</h5>
        </div></a>
      </div>
    </div>
    <div><p class="book-description"><%= book["description"] %></p></div>

    <div class="row">
      <div class="col-sm-6">
        <h4>Related Books</h4>
        <div class="container-fluid result-row-mini">
          <!-- search result container -->
          <div class="img-container">
            <div class="col-sm-6 book-result-mini-col"><img src="./images/getting_things_done.jpg" class="book-result-mini" align="bottom"></div>
            <div class="col-sm-6 book-result-mini-col"><img src="./images/hamlet.jpg" class="book-result-mini"></div>
          </div>
          <div class="result-bottom-mini"></div>
        </div>
      </div>

      <div class="col-sm-6">
        <h4>Related Shelves</h4>
        <a href="shelf.html"><div class="shelf-mini">
          <img class="shelf-img-mini" src="images/shelf.png">
          <div class="shelf-bottom-mini"></div>
          <h4 class="shelf-label-mini">oprah's bookshelf</h4>
        </div></a>

        <a href="shelf.html"><div class="shelf-mini">
          <img class="shelf-img-mini" src="images/shelf.png">
          <div class="shelf-bottom-mini"></div>
          <h4 class="shelf-label-mini">oprah's bookshelf</h4>
        </div></a>
      </div>
    </div>
  </div>

</div>
