<div class="shelf">
  <div class="shelf-img-wrapper">
    <% shelf_img_idx = [1, 2, 3, 4].shuffle %>
    <% books_idx = [] %>
    <% while books_idx.length < 3 %>
      <% rand_idx = rand(books.length) %>
      <% books_idx << rand_idx unless books_idx.include?(rand_idx) %>
    <% end %>
    <a href="/shelf/<%= shelf_id %>"><img class="shelf-filler-img" src="images/shelf-<%= shelf_img_idx[0] %>.png"></a>
    <a href="/shelf/<%= shelf_id %>/<%= books_idx[0] %>"><img class="shelf-book-img" src="<%= books[books_idx[0]]["img_url"] %>"></a>
    <a href="/shelf/<%= shelf_id %>"><img class="shelf-filler-img" src="images/shelf-<%= shelf_img_idx[1] %>.png"></a>
    <a href="/shelf/<%= shelf_id %>/<%= books_idx[1] %>"><img class="shelf-book-img" src="<%= books[books_idx[1]]["img_url"] %>"></a>
    <a href="/shelf/<%= shelf_id %>"><img class="shelf-filler-img" src="images/shelf-<%= shelf_img_idx[2] %>.png"></a>
    <a href="/shelf/<%= shelf_id %>/<%= books_idx[2] %>"><img class="shelf-book-img" src="<%= books[books_idx[2]]["img_url"] %>"></a>
    <a href="/shelf/<%= shelf_id %>"><img class="shelf-filler-img" src="images/shelf-<%= shelf_img_idx[3] %>.png"></a>
  </div>
  <!-- <img class="shelf-img" src="images/shelf.png"> -->
  <div class="shelf-bottom"></div>
  <a href="/shelf/<%= shelf_id %>"><h4 class="shelf-label"><%= shelf_id %></h4></a>
</div>
