<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= @title || "Novel" %></title>

    <!--jQuery (required by Bootstrap) -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Styling -->
    <link rel="stylesheet" href="<%= url("/stylesheet/all.css") %>"></script>
    <link rel="stylesheet" href="<%= url("/stylesheet/shelf.css") %>"></script>

    <!-- Javascript -->
    <script src="<%= url("/javascript/shelf-popup.js") %>"></script>

  </head>

  <body>
  <div class="container-fluid">
    <%= erb :_sidebar %> <%# sidebar takes up 2 columns %>
    <%= yield %>
  </div>
  </body>
</html>
